@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Roboto+Slab:wght@100;400&family=Work+Sans:wght@100&display=swap');
body {
    font-family: 'Balsamiq Sans', cursive;
  font-family: 'Roboto Slab', serif;
  font-family: 'Work Sans', sans-serif;
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
}