// Esto es un comentario de SCSS

/*.Esto es un comentario de CSS puro .*/

@import "-tipografia.scss";

/* VARIABLE*/
$colorrosa: #f8b2d9;
/*ANIDAMIENTO*/
body {
    background-image: linear-gradient(to right, pink, rgb(241, 94, 197));
    nav { 
        background-color: $colorrosa;
        div {
            padding: 10px;
            border-color: $colorrosa;
            ul {
                font-size: medium;
            }
        }

    }
}
/* FIN ANIDAMIENTO*/

#botonProductos {
    margin: 30px;
    text-align: center; }
  
  #instagram {
    text-align: center;
    margin: 20px; }
  
  #footer {
    background-color: $colorrosa;
    text-align: center;
    margin: 20px;
    margin-left: 100px; }
  
  #copyright {
    text-align: center; }